<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Gyakorló feladatok </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" shape="round" (click)="navigateToPage(1)"
    >Feladat 1: Modal + toast</ion-button
  >
  <ion-button expand="full" shape="round" (click)="navigateToPage(2)"
    >Feladat 2: Loading
  </ion-button>
  <ion-button expand="full" shape="round" (click)="navigateToPage(3)"
    >Feladat 3: Ciklus
  </ion-button>
  <ion-button expand="full" shape="round" (click)="navigateToPage(4)"
    >Feladat 4: CDK Virtual Scroll
  </ion-button>
  <ion-button expand="full" shape="round" (click)="navigateToPage(5)"
    >Feladat 4: Ionic Infinity Scroll
  </ion-button>
  <ion-button expand="full" shape="round" (click)="navigateToPage(6)"
    >Feladat 5: Validátor
  </ion-button>
</ion-content>
